html, body {
  background-color: #FFFFFF; }

.containerCourse {
  text-align: center;
  margin: auto; }
  .containerCourse .img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.playerSetup {
  text-align: center; }

.containerCard .players {
  height: 25px; }

.theCard {
  display: flex; }

.column {
  border: 1px solid #DADFEA; }

.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DADFEA;
  height: 25px;
  width: 35px; }

.playersColumn {
  border: 1px solid #DADFEA;
  height: 25px;
  width: 70px; }
