html, body {
  margin: 0;
  padding: 0;
  background-color: #54FF5D;
  font-family: 'Mukta', sans-serif; }

h3 {
  text-align: center; }

.containerCourse {
  text-align: center;
  margin: auto; }
  .containerCourse .img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.playerSetup {
  text-align: center; }

.centerMe {
  text-align: center; }

.containerCard {
  display: flex;
  justify-content: center; }
  .containerCard .players {
    height: 25px; }

.theCard {
  display: flex; }

#firstCard {
  display: flex;
  overflow: scroll; }

#secondCard {
  display: flex;
  overflow: scroll; }

.column {
  border: 1px solid #2A802D; }

.columnTwo {
  display: flex;
  flex-direction: row;
  border: 1px solid #2A802D; }

.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2A802D;
  height: 25px;
  width: 35px; }

.cells0 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2A802D;
  height: 25px;
  width: 100px; }

.playersColumn {
  border: 1px solid #2A802D;
  height: 25px;
  width: 70px; }

.teeBox {
  display: flex;
  justify-content: center; }
  .teeBox .teeBoxContainer {
    width: 170px; }

.submit {
  text-align: center; }

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%; }

.inner {
  height: 100%;
  display: flex;
  text-wrap: wrap;
  justify-content: center;
  align-items: center; }

.popup {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
